/* Your CSS Code here. */
.holder{
	height:200px;
	width:200px;
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	grid-template-rows:repeat(2, 1fr);
	border:2px solid black;
}
.item{
	display:flex;
	align-items:center;
	justify-content:center;
	border:1px solid purple;
}